[2016-08-24 01:19] prasadtalasila opened #1 "continuous builds"
We can use [Escript](http://elixir-lang.org/docs/stable/mix/Mix.Tasks.Escript.html) to continuously generate the bundled binary scripts to be run on BeamVM.
Once a Escript is successfully run manually, we can use Jenkins CI to build every commit.

[2016-08-27 11:28] prasadtalasila opened #2 "Input parser"
Input parser to load data from Stations.txt, Schedule.txt and Local_Variables.txt

[2016-08-27 11:30] prasadtalasila opened #3 "Station module"
A module representing one station. The detailed description of a station is available on [wiki](https://github.com/prasadtalasila/TransportScheduler/wiki#stations) page.

[2016-08-28 05:29] #3 closed

[2016-08-28 05:29] #2 closed

[2016-09-07 05:23] #1 closed

[2016-09-07 05:26] prasadtalasila opened #5 "wiki page on Erlang concurrency model"
A short summary of Erlang concurrency model as used by Elixir. Also see the Actor concurrency model chapter in Seven Concurrency Models in Seven Weeks book.

[2016-09-07 05:29] prasadtalasila opened #6 "Elixir RESTful API implementation"
Look for a scalable RESTful API library for elixir and use it to in the Station Controller. Appropriate reference links to be updated on [References](https://github.com/prasadtalasila/TransportScheduler/wiki/References) page.

[2016-09-07 05:33] prasadtalasila opened #7 "Input parser testing and integration"
Input parser tests must pass and input parser module must integrate well with the station module. There would be unit tests for integration as well.

[2016-09-07 05:36] prasadtalasila opened #8 "Passing functions between elixir processes"
A scalable way must be found for passing functions betweens elixir processes. Two possible approaches we are exploring are:

1. Have a module of all possible functions and use Map to store references to functions in stations.
2. Create a function in one process, quote the function and pass the function to another process. The receiving process unquotes the function and uses it.

[2016-09-07 05:38] prasadtalasila opened #9 "Continuous Delivery Pipeline"
We need to have all code commits regression tested and built. The necessary GitHub integrations must be setup.

[2016-09-07 05:59] prasadtalasila opened #10 "API Call to Station Controller"
API call to station controller fetches station schedule.

In order to complete this user story, an appropriate RESTful library must be integrated with station controller. A good way to check this would be to issue the API call from curl of the form http://localhost/schedule/stn_code and check all the output. We must receive all the schedule entries of a station in tuple form.

[2016-09-07 15:19] suhasspai commented on #5
I have updated the information we discussed in today's meeting. Will read up the chapter and complete the wiki.

[2016-09-09 14:01] ahaldar commented on #6
I have investigated some potential libraries, and the References wiki page has the relevant links.
I still need to spend some time to understand what would fit best.

[2016-09-11 19:23] suhasspai commented on #5
I have updated the Wiki after obtaining some information from the chapter on Actor Model in "Seven Concurrency Models in Seven Weeks".

[2016-09-11 19:23] #5 closed

[2016-09-13 05:10] #8 closed

[2016-09-14 05:11] prasadtalasila commented on #10
For this to be complete, simple user query controller (UQC) must be in place as an Elixir system process. UQC process communicates with the station controller process.

[2016-09-14 07:57] prasadtalasila commented on #9
I found a high-level release manager for Elixir projects. The [edeliver](https://github.com/boldpoker/edeliver) project wrapping [distillery](https://github.com/bitwalker/distillery) seems like a better option.

Tutorials and video talk are available on [Elixir forum page](https://elixirforum.com/t/elixir-deployment-tools-general-discussion-blog-posts-wiki/827).

Let me see if this integrates with

[2016-09-14 14:17] #6 closed

[2016-09-14 14:17] ahaldar commented on #10
Maru framework to be used. Placeholder code ready in api.ex, needs to be modified to retrieve schedule from Station through NC by mapping stn_code to pid.

[2016-09-14 14:37] ahaldar commented on #9
The README of edeliver says:

It seems to be a good option and switching to exrm/distillery (exrm seems to be now deprecated in favor of distillery) should be doable.

[2016-09-25 11:40] suhasspai commented on #7
The bug has been fixed and the tests run properly. Input Parser code (and the test for it) has been modified in the latest commit.

[2016-09-25 11:40] #7 closed

[2016-10-04 19:25] suhasspai commented on #10
Sir,
I have uploaded the proposed API design file at the root of the repo, from my side, after reading through the resources you provided.

[2016-10-05 04:58] prasadtalasila opened #11 "UC and UQC API Implementation"
Implementation using Maru or any other RESTful API library

[2016-10-05 05:00] prasadtalasila commented on #10
For now, the station (network) controller and UC/UQC communicate using genserver.

[2016-10-05 05:00] #10 closed

[2016-10-05 05:04] prasadtalasila opened #12 "Query Completion at Network Constructor"
Tests are:
1. Query from one station to another station.
2. Query from network constructor to a station.
3. Answer from a station to network constructor.
4. Query from network constructor to a station and answer coming back from another station.

[2016-10-05 05:06] prasadtalasila opened #13 "Update wiki page for elixir data structures in use"

[2016-10-05 05:12] prasadtalasila commented on #9
exrm replaced by distillery and regression testing to be done before every build.

[2016-10-07 17:13] ahaldar commented on #9
To upgrade from exrm to distillery:
https://github.com/boldpoker/edeliver/wiki/Upgrade-from-exrm-to-distillery-as-build-tool

[2016-10-08 07:57] ahaldar commented on #9
Travis is the popular option for code repo hosted on GitHub. Travis is a hosted service (free for open source) while you have to host, install and configure Jenkins.
Travis-CI allows a setup for running tests and build release only after success. Our travis.yml will look something like the one here:
https://www.varvet.com/blog/easy-auto-scaling-elixir-deployment-with-aws-and-travis-ci/

[2016-10-08 08:10] ahaldar commented on #11
The placeholder API that I had created uses Maru API library, found on the list at https://github.com/h4cc/awesome-elixir
@suhasspai I remember Swagger being mentioned, so see if this is useful: https://github.com/falood/maru_swagger

[2016-10-09 13:57] #13 closed

[2016-10-11 16:02] ahaldar commented on #9
GitHub repo needs to be linked with Travis through owner account.

[2016-10-11 16:04] ahaldar commented on #9
Builds work fine on some systems but are showing errors on other systems, gen_statem init function is the point of concern.

[2016-10-11 17:14] suhasspai commented on #12
Sir, for some reason, I am unable to test any functionality since a Station is unable to be created. I have locally implemented the message passing mechanism but cannot test the same until this bug is resolved.

[2016-10-12 07:46] prasadtalasila commented on #9
This is definitely an issue with OTP v19.1. The existing deployment instructions put in travis as well which is leading to build failure status even for successful builds.

We may need to send an automated ssh password / ssh key for deployment. We may also need a few functional tests on the deployed software.

[2016-10-12 08:07] ahaldar commented on #9
Travis builds now passing.
.travis.yml forces versions OTP 19.0 and Elixir 1.3.1

[2016-10-15 14:07] ahaldar commented on #9
For Windows deployment, the Docker route seems to be the only option.

[2016-10-15 14:11] ahaldar commented on #9
The GenStateMachine README comment doesn't solve the version dependency problem, it only specifies how to enable a certain callback mode that we do not require:

Current fix is still .travis.yml specifying OTP 19.0 but Elixir version anything 1.3 and up is fine.

[2016-10-15 21:35] suhasspai commented on #12
Tests have been added. GenStateMachine itself is used, since usage of GenStateMachine and GenServer causes function clashes that can't be handled cleanly.

[2016-11-02 05:28] prasadtalasila opened #14 "UQC API meaningful results"

[2016-11-02 05:30] prasadtalasila opened #15 "data polymorphism in elixir"

[2016-11-08 16:21] ahaldar commented on #15
Protocols are the built-in way to achieve polymorphism:
http://elixir-lang.org/getting-started/protocols.html

I have tested this independent of our TransportScheduler application. Our StationStruct is still changing based on requirement. I can put protocols in place easily as soon as the structures are settled.

[2016-11-08 20:33] suhasspai commented on #11
A clean RESTful API with Maru successfully implemented. Initialisation is done in {base_url}/api/ and then the other queries can be carried out on /api/station/schedule, /api/search etc.

[2016-11-08 20:34] suhasspai commented on #12
Message passing from station to NC added; needs to be implemented in actual network code.

[2016-11-13 11:25] suhasspai commented on #11
I am unable to supply a GET request by not passing parameters in the URL. Something like:
`curl -X GET --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{"source": 5, "date": "11-09-2016"}' 'http://127.0.0.1:8880/api/station/schedule'`
generates a response as
`Server Error`
each time. The GET request is fulfilled if I issue this command:
`curl -X GET 'http://127.0.0

[2016-11-13 11:25] #11 closed

[2016-11-18 04:12] ahaldar commented on #15
Simple pattern matching in function argument list with various struct types for overloading functions is a neater solution.

[2016-11-18 04:12] #15 closed

[2016-11-18 04:14] ahaldar commented on #12
Itinerary is updated and passed as expected: NC -> Src Station -> Next Station -> Dst Station -> NC.
Yet to integrate with API end.

[2016-11-18 04:14] #12 closed

[2016-11-20 20:01] suhasspai commented on #14
All functionality of the API gives meaningful results. Slight changes in API include:
1. Get schedule of a station: GET request to /api/station/schedule.
2. Add entry to a station's schedule: POST request to /api/station/schedule/add.
3. Update entry in a station's schedule: PUT request to /api/station/schedule/update.
4. Get state of a station: GET request to /api/station/state.
5. Update state o

[2016-11-20 20:01] #14 closed

[2016-11-23 18:36] ahaldar opened #16 "Check for itinerary loops"
When message passing is used for a given query, current implementation checks for all neighbours of a given station node. Hence, if an outgoing vehicle link exists back from a destination to a source node with valid time of departure, an itinerary may be generated that contains a loop. The same station is revisited and the resulting itinerary will never be the optimal one. Such a result must be ex

[2016-11-23 18:36] ahaldar opened #17 "Group itineraries at NC"
When NC receives multiple potential itinerary results from destination, these must be collected and best option based on the given constraints must be chosen. In the future, batch queries are to be submitted to the application. The NC will then receive results from multiple destinations, and will need a separate collection of itineraries for each such query. Within each collection, NC will have se

[2016-11-23 18:39] ahaldar commented on #16
Possible solutions:
- Do not allow neighbours list to include source station
- Add a label to queries and check when incoming message at a station if this label was already serviced

[2016-11-23 18:45] ahaldar opened #18 "Process restart and registry update"
In case a process abruptly terminates, NC must handle the issue. Only queries that pass through a non-existent process must be affected.
Process needs to be restarted and registry updated with new pid value. Any updates that had been made to local variables of the old process will be lost in such a situation.

[2016-11-23 18:47] ahaldar opened #19 "API handle invalid queries"
If an invalid query is submitted, say invalid station name that does not match any station code, NC will throw an exception. API module must handle these and reply with suitable message to user.

[2017-01-15 10:19] suhasspai commented on #17
Itineraries are added to a list one by one, and the fastest itinerary can found by walking through this list of possible itineraries.

[2017-01-15 10:20] suhasspai commented on #19
Error handling has been implemented and the requisite status codes and messages follow the Wiki documentation on REST API given.

[2017-01-24 04:59] prasadtalasila opened #20 "Support for concurrent itineraries at UQC"
Concurrent requests need to be supported at UQC; each request gets its own timeout value of 0.5sec.

Choose proper data structure for storing query results. We want to send N (=10) itinerary results to the user.

[2017-01-25 02:57] ahaldar commented on #16
Another possibility:
Add a local variable at each station which updates itself with the query details once a query reaches the station. If identical query reappears in the future at the same station, on checking against this local variable, this new redundant looping itinerary building process is abandoned.

[2017-01-29 18:02] #17 closed

[2017-01-29 18:06] #19 closed

[2017-02-01 10:32] #16 closed

[2017-02-02 07:15] prasadtalasila opened #21 "code coverage tool support"
[Coveralls](https://coveralls.io) tool has support for elixir code coverage reports. Please integrate into the project by following the [instructions](https://docs.travis-ci.com/user/coveralls/).

[excoveralls](https://github.com/parroty/excoveralls/) seems like a useful library for this task.

[2017-02-06 08:31] ahaldar commented on #18
Elixir Supervisor takes care of restarting dead processes.
InputParser maps provide values to repopulate the new station structure.

[2017-02-06 15:04] ahaldar commented on #18
Could investigate https://github.com/uwiger/gproc to manage the registry and simplify the Supervisor, but it involves complete revamp of StationConstructor and associated function calls. Also looks like an unstable build of gproc at the moment.

[2017-02-06 15:28] #21 closed

[2017-02-07 05:24] prasadtalasila commented on #20
There should be a mapping between incoming user query request socket, query-iternerary map and timeout.

A good coding idiom / library needs to be found for concurrent user query request socket handling.

[2017-02-07 05:31] prasadtalasila opened #22 "code quality toolset"
a linter and static code analysis tool for Elixir language. A web-based service that we can integrate with the github commits would be good as well.

[2017-02-07 05:50] ahaldar commented on #22
Credo https://github.com/rrrene/credo.

[2017-02-07 05:56] ahaldar commented on #22
Capable of being integrated with Travis using Pronto https://github.com/carakan/pronto-credo.
Gives pull request comments as described here https://blog.fazibear.me/automated-elixir-code-review-with-github-credo-and-travis-ci-986cd56b8f02#.t3r4fern0.

[2017-02-07 06:09] ahaldar commented on #20
For timeout per query, Process.send_after(dest, msg, time, opts \\ []) to self() should do the trick. On receiving this, process stops further search.
Similar to http://stackoverflow.com/questions/32085258/how-to-run-some-code-every-few-hours-in-phoenix-framework.

[2017-02-25 07:24] suhasspai commented on #20
http://holyxiaoxin.github.io/async-tasks-benchmark/
This link contains pretty much what we need: the person who wrote this blog did benchmarks for asynchronous (concurrently executing) tasks and plotted the requisite graphs as well. I'll mostly make use of HTTPoison itself for the testing.

[2017-02-27 18:24] #18 closed

[2017-03-17 10:43] prasadtalasila commented on #20
For the conference paper, we were collecting query statistics from NC / UQC. Using the async task, we can collect the same from the user point of view.
If this work is complete, the corresponding test can be put in travis pipeline so that the performance results become visible for all the commits. We can then make sure that the code never becomes slow, at least not unintentionally.

[2017-03-21 03:16] prasadtalasila opened #23 "docs for local installation"
a wiki page detailing the installation setup required to make contributions to the project. The page would contain proper installation instructions for Erlang, OTP-19.0, Elixir and then the commands for running the ts app.

[2017-03-21 05:13] prasadtalasila opened #24 "search query response collection in a separate process"
The itinerary search queries are all being collected in NC at the moment, making NC a bottleneck. We can change the scenario to the following.

1. A query goes to NC
1. NC spawns a query response collector process
1. Adds the process id of the query response collector to the query structure.
1. Gives the query to source station
1. Destination passes the response to query response collector process

[2017-03-21 07:06] prasadtalasila opened #25 "code profiling"
we want a profiler that gives the execution time of each of our processes and the function calls. That way we can talk about optimization of the application in terms of domain logic.

The current tool [exprof](https://github.com/parroty/exprof) is giving the execution time results of low-level functions. We need to obtain profiling information on elixir processes.

select an appropriate profiling

[2017-03-21 18:04] prasadtalasila opened #26 "pre-release"
It would be a good practice to have a ready release / pre-release for the software. That way, any foreseen issues on the dev branch would not effect the people who would want to use the software.

We can have a working commit that is decent, create a release out of it.

[2017-03-30 12:45] prasadtalasila opened #27 "process visualization using visualixir"
[visualixir](https://github.com/koudelka/visualixir) project offers path tracing possibility in the process network. We can take advantage of that for visualizing some scenarios for the research paper.

[2017-03-31 02:34] prasadtalasila opened #28 "performance testing in travis"
[Joseph Kain](https://github.com/joekain) wrote [elixir-life](https://github.com/joekain/elixir-life) project which has the exprof as a mix task. Please see [Profile.ex](https://github.com/joekain/elixir-life/blob/master/lib/profile.ex) for more details. He uses [eflame](https://github.com/proger/eflame) to draw the performance graphs which will help in looking at the bottlenecks. For a way to inc

[2017-03-31 02:40] prasadtalasila commented on #22
credo integrated into codeclimate.yml file in commit c54d745.

do we still need pronto-credo? pronto-credo doesn't seem very useful in travis-ci workflow. If we don't need pronto-credo, please close this issue.

[2017-03-31 02:44] prasadtalasila opened #29 "refactor integration tests"
integration tests for now seem to be done using ExUnit and curl. We can have them run using [BATS](https://github.com/sstephenson/bats). For example tests, see [functional tests](https://github.com/prasadtalasila/JavaAutolab/tree/dev-tests/tests/functional_tests) of [JavaAutolab](https://github.com/prasadtalasila/JavaAutolab/).

[2017-03-31 08:33] ahaldar commented on #22
Pronto-credo seems unnecessary. Credo is displaying nicely in Travis.

[2017-03-31 08:33] #22 closed

[2017-03-31 09:24] #23 closed

[2017-04-01 11:56] suhasspai commented on #24
This [commit](https://github.com/prasadtalasila/TransportScheduler/commit/2665f06b823fca53a95af0c7c6366488a6bf7f34) fixes the issue. Added new file qc.ex that contains module named QC that collects itineraries for each query.

[2017-04-01 11:56] #24 closed

[2017-04-03 09:41] ahaldar commented on #28
Added ExProf as Mix Task, command added to Travis.

[2017-04-20 13:16] prasadtalasila opened #30 "memory consumption during query processing"
Both sequential and concurrent queries increase the memory consumption of the application. Ideally after query is complete, the application must relinquish the excess memory. But, that does not happen.

Each sequential query increases the memory requirement till the entire available memory is allocated to *ts* application.

[2017-04-20 13:17] prasadtalasila commented on #27
Erlangs OTP observer also helps. To use it, include the following in Elixir code.
[code]

[2017-04-20 13:45] prasadtalasila opened #31 "selection on mailbox messages"
Erlang provides pattern matching on mailbox messages [1](http://erlang.org/doc/getting_started/conc_prog.html), [2](https://www.safaribooksonline.com/library/view/erlang-programming/9780596803940/ch04s03.html). Even Elixir has the message receive pattern [matching](http://elixir-lang.org/getting-started/processes.html#send-and-receive) capability.

Also see an explanation on this [stackoverflow](h

[2017-04-23 03:07] prasadtalasila opened #32 "Process Messaging overhead"
At the moment, code profiling reveals that 70% of the processing time is spent in message passing. This is leading to a scenario of sequential query execution. If we can solve the problem of list storage in station processes and message passing overhead, truly concurrent query processing can take place.

Checkout the following resources.

1. [Edgelixir](https://edgelixir.net/elixirconf16.pdf) - el

[2017-04-28 06:00] suhasspai opened #34 "Activeness of query in network into ETS"
The `NetworkConstructor` module keeps track of the active queries (the queries whose results are awaited by the user and the itineraries are currently being searched in the network) in the form a `Map` data structure, and there is an abstracted client function `check_active/2` that returns the status of a given query (`true` for active, `false` for inactive). This needs to be implemented in the ET

[2017-04-28 06:17] prasadtalasila commented on #34
The active status is to be maintained by query collector of each query. Each respective query collector writes / updates the status of an active query. Any node interested in knowing the status of a query looks up (reads) from ETS table. Entries in the table must time out to remove stale entries. A timedout entry would be removed from ETS table. This time out can be set to 5 minutes for now. A sta

[2017-04-30 10:22] #20 closed

[2017-05-22 08:20] prasadtalasila opened #37 "Process state in ETS / Mnesia"
When a process crashes, updates to its state are lost. Any updates coming through update controller (UC) must be persisted via [ETS](https://elixirschool.com/lessons/specifics/ets/) / [Mnesia](https://elixirschool.com/lessons/specifics/mnesia/) so that a recovered station process can reload its state.

**References:**
[amnesia](https://github.com/meh/amnesia) - Mnesia wrapper for Elixir.
[Mnesia t

[2017-05-22 08:26] prasadtalasila opened #38 "Debug station crash"
Periodically station process crashes. We are using supervisor to recover from a process crash. We don't know the reason for the crash itself. Use [Elixir debugger](https://elixirschool.com/lessons/specifics/debugging/) to investigate the cause of crash.

[2017-08-18 08:57] prasadtalasila opened #40 "separation of UC and UQC from API module"

[2017-08-19 14:28] VedangW commented on #40
@suhasspai can you please help by explaining why UC is not present in api.ex anywhere?

[2017-08-20 13:08] SuhasHebbar opened #41 "Auto inititialization of TransportScheduler"
Presently an api call is needed to initialize the application. For auto initialization the code for initialization ( lines 24-33 in api.ex ) has to be moved to the init block of API.
But on doing so an api call is still required for initialization.

[2017-08-21 05:29] prasadtalasila commented on #41
@SuhasHebbar please give reference to a code commit that has the problem. Only after that can @suhasspai can comment on the same.

[2017-08-21 05:51] prasadtalasila commented on #40
The code in api.ex combines the UQC and UC elements of [API](https://github.com/prasadtalasila/TransportScheduler/wiki/API-Design) end points. It is better to separate them using two processes that use Maru module to serve the different API end points. The separation should be as per the [API design](https://github.com/prasadtalasila/TransportScheduler/wiki/API-Design) page.

[2017-08-24 07:04] VedangW commented on #40
@prasadtalasila Sir, while compiling after making the changes, I get this warning that I am not able to comprehend because I can't find the file gen_server.ex in the folder lib. What can this be about?
warning: this clause cannot match because a previous clause at line 11 always matches
  lib/gen_server.ex:1

[2017-08-24 07:19] prasadtalasila commented on #40
@VedangW It looks like a module import error. The gen_server is a built in module of elixir. Are you sure that you have the following statement in your new elixir file?

[code]

[2017-08-24 15:44] VedangW commented on #40
@prasadtalasila Yes sir, it's already there. I am looking at alternate solutions now.

[2017-08-25 09:12] prasadtalasila opened #44 "Remove api_supervisor.ex"
api_supervisor.ex seems redundant. Remove the same and spawn api.ex from supervisor.ex.

[2017-08-25 09:14] prasadtalasila commented on #40
1. Update all the tests for refactoring.
1. Add one test for each API call in UC and UQC.

[2017-08-27 00:19] prasadtalasila commented on #44
solved in PR #45.

[2017-08-27 00:19] #44 closed

[2017-08-28 05:13] VedangW commented on #40
@prasadtalasila Sir, how do I ensure that the initialization happens in both maru modules, UQC and UC? Do I need to start a UQC process in UC for that?
For eg.,
UQC has this:
https://pastebin.com/DgVy9RwQ
What would happen if someone puts a query which routes through UC?

[2017-08-28 05:40] prasadtalasila commented on #40
It makes sense to put the initialization code in UC. The search part of API anyway goes into UQC. The [itinerary search code](https://github.com/prasadtalasila/TransportScheduler/blob/dev/lib/ts/api.ex#L50-L88) can be put in [try-catch-rescue](https://elixir-lang.org/getting-started/try-catch-and-rescue.html) for the scenario of uninitialized network.

[2017-08-29 10:01] VedangW commented on #40
@prasadtalasila Sir what you suggested about the try-catch-rescue clause is done.
I have so far separated UC and UQC as two separate modules, with the ETS tables in UQC and the initialisation in UC. All files are compiling without errors or warnings. However, `mix test` and `_build/dev/rel/ts/bin/ts console` don't work and result in crash dumps. Here are the errors I get from:
`mix test`:
`
** (Mi

[2017-08-30 00:00] prasadtalasila commented on #40
There are references to API module in your code. The dump messages clearly indicate so. Please replace API invocations with UC/UQC invocations as appropriate.

[2017-08-31 06:23] VedangW commented on #40
@prasadtalasila Sir, sorry for the late follow up, I was not well yesterday.

I didn't find any references to API in my code, I replaced as many as I could find, which is why the project compiles in the first place. The error doesn't point out where the invocation, `API.init\1` might be, which I thought you could help me find. There are no references to API in lib/ts or in lib/mix (expect in the n

[2017-08-31 09:24] prasadtalasila commented on #40
@VedangW Please make a commit of the code that is giving the error and provide a reference for the same in this issue.

[2017-09-01 09:45] prasadtalasila commented on #25
Please see the relevant links in [Profiling](https://github.com/prasadtalasila/TransportScheduler/wiki/References#profiling) section of References page.

[2017-09-01 09:50] prasadtalasila commented on #25
The following items are to be done for this issue to be closed:

1. update Profile section of references page with short brief on all the profiling tools.
2. Complete [code profiling](https://github.com/prasadtalasila/TransportScheduler/wiki/Code-Profiling) wiki page.
3. Create an Elixir Profiling script for station module.

[2017-09-01 10:19] prasadtalasila opened #46 "tutorial for creating TDD project in Elixir"
learn and update the [TDD wiki](https://github.com/prasadtalasila/TransportScheduler/wiki/TDD-in-Elixir) page.

[2017-09-01 10:28] prasadtalasila opened #47 "move test files to correct location"
The lib/maru/test.ex and test/ts_test.ex files are either not needed or in wrong location. They need to be either put in correct location or removed.

[2017-09-08 08:54] prasadtalasila opened #48 "station.ex init block missing"
initialization of station must happen in init function. At the moment, the work is being done in update() function.

[2017-09-08 09:16] prasadtalasila opened #49 "update dependencies to latest stable releases."
Suggested ones are:
Gen State Machine v2.0.0, Erlang OTP 20.0, Elixir v1.5

The problem is that the station.ex uses both synchronous and asynchronous functions of gen state machine. We need to convert all the synchronous functions to asynchronous before we attempt an upward revision of all the packages.

This issue would also solve #9.

[2017-09-12 15:01] prasadtalasila commented on #49
@SuhasHebbar
A suggestion: The state machine code layout in [FSM](https://github.com/sasa1977/fsm) module is a lot cleaner than in the Gen State Machine. FSM also fits into gen_server. We can go with that for the station process.

[2017-09-12 15:02] prasadtalasila commented on #9
use gen_server + fsm modules for representing a station process.

[2017-09-15 08:44] prasadtalasila opened #50 "update install scripts"
The install scripts assume /home/ubuntu as the fixed parent directory of the project. Use git commands to deduce the project directory and make the scripts generic.

The updated scripts must run satisfactorily in direct host install scenario, in a virtual machine and in vagrant environment.

[2017-09-23 05:01] prasadtalasila opened #53 "tests for new station module"
* Stores given state
* Retrieve the state
* Update the given state
* Receive a itinerary search query
* Send completed search query to neighbours
* Computes the itinerary correctly
* Does not forward itineraries with potential self-loops
* Does not forward stale queries
* Incorrectly received queries are discarded
* Terminated queries are handed over to query collector
* Consumes rapid input strea

[2017-09-23 05:26] prasadtalasila opened #54 "build passing only on local server"
Build status of both master and ts-v2.0-alpha branches on the local server.

[2017-09-23 07:48] prasadtalasila commented on #53
Do put in the credo tool into travis and into the dependencies.

[2017-09-26 17:46] SuhasHebbar commented on #54
The master build is passing as expected on the local server but one cannot use the API outside the local server.
curl -X GET 'http://10.1.9.175:8880/api/station/state?station_code=1' does not work on the server or any other system.

One only has access to the application functions on the server using localhost instead of 10.1.9.175.

[2017-09-26 18:04] prasadtalasila commented on #54
Can we decipher the problem by looking into the API module?

[2017-09-26 18:15] SuhasHebbar commented on #54
Yes, as maru should give us access to the application API even outside localhost.
I think @VedangW should be more familiar with the working of maru.

[2017-09-26 18:39] prasadtalasila commented on #54
based on the suggestions available on [this question](https://elixirforum.com/t/how-to-bind-phoenix-app-to-specific-ip-address/1702/12), we need to add IP address to [maru config](https://github.com/prasadtalasila/TransportScheduler/blob/dev/config/config.exs#L33). The line should probably be like this:
[code]

[2017-09-26 19:26] VedangW commented on #54
@SuhasHebbar I'm not sure what the problem is, but I'm not being able to ssh in the server at the moment. Maybe its some mistake on my part. I'll try to look into it tomorrow.

[2017-09-27 13:50] SuhasHebbar commented on #49
In a blog post José Valim advices against using mocks in elixir and instead suggests using something similiar to dependency injection for testing.
Would you have any problem with the refactored Station module and its tests be structured keeping the blog post in mind.
http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/

[2017-09-27 14:45] SuhasHebbar commented on #53
In a blog post José Valim advices against using mocks in elixir and instead suggests using something similiar to dependency injection for testing.
Would you have any problem with the refactored Station module and its tests be structured keeping the blog post in mind.
http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/

[2017-09-27 16:36] prasadtalasila commented on #49
The article is fantastic. By all means it provides good advice. Where there is a choice, I would prefer **Mocks as Locals** kind of dependency over **dependency injection** via configuration.

In Java world, dependency injection via configuration is strictly frowned upon for unit tests. For integration tests thought, it is a good advice.

In the article, [mox](https://github.com/plataformatec/mox)

[2017-10-13 08:21] prasadtalasila opened #56 "wiki pages for Elixir Testing and Benchmarking"
New wiki page tutorials need to be created for the mentioned topics.

[2017-10-13 08:23] prasadtalasila opened #57 "wiki page for proposed architecture"
New wiki page needs to be created for architecture so that all of us are on the same page.

[2017-10-13 08:26] prasadtalasila opened #58 "new station module"
The new station module needs to be created with [workex](https://github.com/sasa1977/workex) + gen_server + [fsm](https://github.com/sasa1977/fsm). Obviously, the newly created station module must pass all the unit tests written so far.

[2017-11-03 08:45] prasadtalasila commented on #50
completed via PR #52.

[2017-11-03 08:45] #50 closed

[2017-11-03 09:40] prasadtalasila commented on #56
see [code profiling](https://github.com/prasadtalasila/TransportScheduler/wiki/Code-Profiling) and [TDD](https://github.com/prasadtalasila/TransportScheduler/wiki/TDD-in-Elixir) wiki pages.

[2017-11-03 09:40] #56 closed

[2017-11-29 17:54] SuhasHebbar commented on #58
Workex as I can see in https://github.com/sasa1977/workex is not an addon functionality like fsm. It instead is implemented as an independent module with its own start_link and init functions.
There doesn't seem to be a way to merge them.
But in the implementation of workex + fsm, the easily queryable genserver state functionality is lost ( workex doesn't offer an inbuilt way to query the internal

[2018-01-15 13:45] SuhasHebbar commented on #58
We have previously discussed of how the overfilling of the Station Processes' message queues could be the possible reason of the memory "explosion" for some queries. For this we had planned to use workex (or Flow or GenStage) for aggregate operations to handle this problem.

I looked into possible methods to put an arbitrary hard cap on a processes' message queue to see if that can give any improv

[2018-01-15 14:20] prasadtalasila commented on #58
@SuhasHebbar please complete the work on PR #64. Once that is done, lets complete the profiling of the resulting code. After that we can take a call on finding the right location to optimise (algorithm / implementation)

[2018-01-16 18:14] SuhasHebbar commented on #58
Presently the itinerary is a list consisting the vehicle links between stations with the query at the head.
Do you think it would improve code comprehensibility if it is instead represented as a tuple of query and the itinerary?

Then instead of [ query, link1, link2, .... , link n ] we would have { query, [link1, link2, ...... , linkn] }.
It would only be a minor change.

Also a suggestion for mi

[2018-01-16 18:28] prasadtalasila commented on #58
@SuhasHebbar please point to the sections of the code in master and ts-v1.0-alpha branches that uses ` [ query, link1, link2, .... , link n ]` list.
Are there any coding improvements possible with changing the list to a tuple?

As far as the constructing the map of the neighbours goes, again please provide links to sections of the code doing this. Obviously, your suggestion of constructing only on

[2018-01-16 18:59] SuhasHebbar commented on #58
The assumption of ` [ query, link1, link2, .... , link n ]` is pretty implicit and has been carried over from the master branch.

The implicit assumption made can easily be missed by someone who is not familiar with the project.
https://github.com/SuhasHebbar/TransportScheduler/blob/45fa9b045fcc330b6bfea4d862da6d893590a68f/lib/ts/station_fsm.ex#L13

https://github.com/SuhasHebbar/TransportSchedule

[2018-01-16 19:24] prasadtalasila commented on #58
Instead of just a tuple, having a structure for query would be good. I remember discussing the structure last semester. The required elements of the structure are: query, preferences, itinerary, cost.

Please propose the query structure before you put it into the code.

[2018-01-16 21:04] SuhasHebbar commented on #53
@VedangW had mentioned an error in https://github.com/prasadtalasila/TransportScheduler/pull/64#issuecomment-354128194 about mocks not being recognised by the GenServer..

It turns out that mox defines mocks private to a process. Since, GenServers run in their own process any mocks defined in the test process will not be visible in the GenServer. To do so one must use ```elixir allow(mock, owner_p

[2018-01-16 23:15] prasadtalasila commented on #53
Using global mocks is not a scalable solution. `allow(mock, ...)` seems like a much better solution.

[2018-01-18 11:11] prasadtalasila opened #65 "Update polymorphism docs"
Please update [Behavior and Polymorphism](https://github.com/prasadtalasila/TransportScheduler/wiki/Behaviour,-Protocols-and-Polymorphism) page.

[2018-01-23 05:57] prasadtalasila opened #67 "update coding style wiki page"

[2018-01-23 06:09] prasadtalasila opened #68 "update wiki page on programming elixir"

[2018-01-26 02:19] prasadtalasila opened #70 "failure to upload codecov report"
The codecov report is not being uploaded. The shell script from codecov says no coverage report found. However, coveralls report is still being uploaded.

[2018-01-26 03:38] prasadtalasila commented on #57
The [wiki page](https://github.com/prasadtalasila/TransportScheduler/wiki/TS-v1.0-Proposed-Architecture) updated.

[2018-01-26 05:32] prasadtalasila commented on #57
@SuhasHebbar The following updates are required for the [wiki page](https://github.com/prasadtalasila/TransportScheduler/wiki/TS-v1.0-Proposed-Architecture).

1. The technical term **thread** is used on the wiki page. An example sentence: "Each station is to be allocated a dedicated thread on BeamVM." We don't use the term threads in the project. Hence you are requested to reword the term to somet

[2018-01-26 05:38] prasadtalasila commented on #53
@SuhasHebbar Please create two new list of tests in your reply to the comment.

1. List of tests that are complete
1. List of pending tests

[2018-01-26 05:48] prasadtalasila opened #71 "Improvements to station module"
The list of improvements to the station module coming via PR #66.

@SuhasHebbar Please add the list of changes / suggestions from your side.

[2018-01-26 09:52] SuhasHebbar commented on #71
The improvements coming via PR #66. are as follows:
1. The Station will only choose one valid path for each neighbouring station, hence only one itinerary/message will be forwarded to each neighbouring station. This should help mitigate the "memory explosion" seen in the application (though how much exactly this will help has to be seen in stress tests and profiling).

2. Improved decoupling of de

[2018-01-26 10:01] SuhasHebbar commented on #71
Work for future PRs:

1. The query/itinerary structure that was discussed ({query, preferences, itinerary, cost}).

2. I think the Station Struct container can do with further optimisation (for both semantics and performance). I would also like to explore for a possible abstraction for the itinerary container so that we do not have to change the Station implementation again if we come upon a more

[2018-01-27 04:49] prasadtalasila commented on #71
@SuhasHebbar We agreed on a few refactoring suggestions yesterday. Please list the relevant advice to station module in this issue.

[2018-01-27 04:51] prasadtalasila opened #72 "Performance of Elixir data structures"
We need to see the suitability and performance of Elixir list, map, Struct data structures for the purpose of exchanging the information between processes.

We need to setup the benchmarks to objectively assess the chosen data structures.

[2018-01-30 13:02] SuhasHebbar commented on #53
List of complete Tests:
1. retrieving the given schedule
2. updating the station schedule
3. Receive a itinerary search query
4. Send completed search query to neighbours
5. Does not forward stale queries
6. Does not forward queries with self loops
7. Incorrectly received queries are discarded
8. No query is forwarded from a Station with no viable paths
9. The correct itinerary is forwarded to the

[2018-01-30 13:04] SuhasHebbar commented on #53
Presently to remove the MockStation module and use a mox mock instead one would have to pass the Station module as a dependency to the Station GenServer.
In the last discussion we did not reach a conclusion regarding that. Shall I go on forward with the existing infrastructure? That is ```[station_state, registry, collector, neighbour_station]```.

[2018-01-30 18:30] prasadtalasila commented on #53
I remember agreeing to Station behaviour. If the station behaviour is specified, we can then rely on the guaranteed availability of function implementations in all the arguments passed to that function. So instead of a MockStation, please put in Station behaviour and pass a mocked version of that behaviour in ExUnit tests.

[2018-01-30 20:55] SuhasHebbar commented on #53
There is a minor problem regarding the use of verify for testing.
The code given below will not pass the test case.
[code]

But, the code given below will.
Station.send_to_station(pid, itinerary)
:timer.sleep(10)
verify!(MockStation)

This is because there is a race condition between the call of Mox.verify/1 and MockStation.sent_to_station/2.

In the test process right after the async call Station

[2018-01-31 11:24] SuhasHebbar opened #75 "Update test patterns wiki page with idiomatic unit tests"
in Station unit tests non determinism has to be removed when asserting on expectations in the parallel process. This can be done by busy waiting on the condition that the Station process is no longer alive.

[2018-01-31 11:28] SuhasHebbar commented on #75
The methodology discussed in this issue needs to be documented under testing in the wiki.

[2018-02-01 14:56] prasadtalasila opened #77 "README with badges"
The ts-v1.0-alpha branch is missing a proper readme. We can adopt the readme from dev branch and modify the badges for codeclimate and codecov. We intend to use codecov instead of coveralls.

[2018-02-01 14:56] prasadtalasila commented on #57
@SuhasHebbar is the wiki page updated?

[2018-02-01 15:15] SuhasHebbar commented on #75
The proposed idiom works as expected.

It has been incorporated into the station_tests in the following form.
[code]

[2018-02-01 15:18] SuhasHebbar commented on #75
wait_for_process_termination/1 can be implemented as given below
[code]

[2018-02-01 17:11] SuhasHebbar commented on #57
The discussed work has been done except for the PlantUML code for the sequence diagram.
It will be put up soon.

[2018-02-02 15:12] prasadtalasila commented on #57
@SuhasHebbar

I changed the structure of the wiki page a bit. The following further improvements are possible:

1. In [station state](https://github.com/prasadtalasila/TransportScheduler/wiki/TS-v1.0-Proposed-Architecture#station-state), you can give the data structures used for storing the state. You can also justify the selection of the data structures with algorithmic complexity of using them f

[2018-02-02 15:15] prasadtalasila commented on #75
sounds good. Let's go ahead with this coding idiom.

@suryapratapmehra please understand this coding idiom and explain it under Tests section of the coding style.

[2018-02-04 23:28] prasadtalasila commented on #71
Work completed via PR #69

[2018-02-04 23:28] #71 closed

[2018-02-04 23:38] prasadtalasila commented on #46
The work is complete.

[2018-02-04 23:38] #46 closed

[2018-02-04 23:39] prasadtalasila commented on #26
Created on [releases](https://github.com/prasadtalasila/TransportScheduler/releases) page.

[2018-02-04 23:39] #26 closed

[2018-02-05 00:02] prasadtalasila commented on #77
Not a priority right now.

[2018-02-05 00:02] #77 closed

[2018-02-05 00:03] prasadtalasila commented on #70
Not a priority right now.

[2018-02-05 00:03] #70 closed

[2018-02-05 00:03] prasadtalasila commented on #9
Not a priority right now.

[2018-02-05 00:03] #9 closed

[2018-02-05 00:12] prasadtalasila commented on #28
Necessary documentation put in place on [code profiling](https://github.com/prasadtalasila/TransportScheduler/wiki/Code-Profiling) wiki page.

[2018-02-05 00:12] #28 closed

[2018-02-05 00:15] prasadtalasila commented on #49
suggestions incorporated into ts-v1.0-alpha branch.

[2018-02-05 00:15] #49 closed

[2018-02-05 00:16] prasadtalasila commented on #38
Not a priority right now.

[2018-02-05 00:16] #38 closed

[2018-02-05 00:20] prasadtalasila commented on #32
Not a priority right now.

[2018-02-05 00:20] #32 closed

[2018-02-05 00:21] prasadtalasila commented on #34
The problem has been solved using query collector module.

[2018-02-05 00:21] #34 closed

[2018-02-05 00:23] prasadtalasila commented on #40
The problem will be fixed in TS-v1.0-alpha branch with fresh code. Fixing the master branch is not a priority right now.

[2018-02-05 00:23] #40 closed

[2018-02-05 00:24] prasadtalasila commented on #29
Not a priority right now. We will continue to use ExUnit for all kinds of tests.

[2018-02-05 00:24] #29 closed

[2018-02-05 00:25] prasadtalasila commented on #31
@bgargi @SuhasHebbar can you answer this question based on what you know now?

[2018-02-05 00:25] prasadtalasila commented on #27
Not a priority now.

[2018-02-05 00:25] #27 closed

[2018-02-05 00:28] prasadtalasila commented on #30
This is really due to faulty utilization of the connection array in station module. The code written before May-2017 used all the connections in the connection array to select all feasible itineraries. This resulted in an exponential blow up of the memory requirements.

Once the utilization of the connection array is limited to one connection per neighbour, we can drastically reduce this problem.

[2018-02-05 00:28] #30 closed

[2018-02-05 00:33] prasadtalasila commented on #53
@SuhasHebbar

More tests for station module.

1. A station forwards a valid query to all the chosen neighbours who have an eligible connection.
1. A station forwards only one valid query to each neighbour (to make sure only one connection per neighour is utilized from the connection array).
1. A station considers connection array to be a circular array and comes back to the beginning of the array

[2018-02-05 00:35] prasadtalasila commented on #47
Not a priority right now.

[2018-02-05 00:35] #47 closed

[2018-02-05 00:36] prasadtalasila commented on #48
The problem fixed for station module put in TS-v1.0-alpha branch. Wont be fixed in code written before May-2017.

[2018-02-05 00:36] #48 closed

[2018-02-05 00:37] prasadtalasila commented on #54
Not a priority right now.

[2018-02-05 00:37] #54 closed

[2018-02-05 00:38] prasadtalasila commented on #41
Not a priority right now.

[2018-02-05 00:38] #41 closed

[2018-02-05 00:45] prasadtalasila commented on #37
Amnesia DB provides distributed replication service. So, if we need such a backup of station state, use Amnesia DB.

[2018-02-05 00:45] #37 closed

[2018-02-06 05:39] prasadtalasila commented on #31
If there is a pluggable system for mailbox (incoming message processing) of an erlang process, we can put in our own functions to pick the next message from the mailbox.

[2018-02-06 06:42] prasadtalasila commented on #67
@suryapratapmehra The pages to be updated this week are: [RegEx](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-RegEx), [unit tests](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Unit-Tests), [mocks](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Mocks), [Logger](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Logger), [REST API](https://gith

[2018-02-06 07:14] prasadtalasila commented on #65
Only pending work here: Interaction of behaviors-protocols-modules-structs.

[2018-02-06 07:21] prasadtalasila commented on #68
@bgargi please read the following chapters from Programming Elixir book:
* Ch 16. OTP: Servers
* Ch 17. OTP: Supervisors
* Ch 18. OTP: Applications
* Ch  19: Tasks and Agents

[2018-02-06 07:38] prasadtalasila commented on #65
@suryapratapmehra There are two chapters in "Programming Elixir, Dave Thomas" book that are relevant to our work.

* Ch 21. Linking Modules: Behaviours and Use
* Ch 22. Protocols - Polymorphic Functions

[2018-02-07 08:15] SuhasHebbar commented on #53
For
3. A station considers connection array to be a circular array and comes back to the beginning of the array after reaching the end.
   i.  Does this for one neighbour
  ii. Does this for all the neighbours

I have instead included a test to check if the station schedule remains unchanged after processing a query. This is because the points mentioned in the tests do not occur in the fsm impleme

[2018-02-07 08:42] prasadtalasila commented on #53
@SuhasHebbar

Since we are not changing the schedule during itinerary search, do we need to make a copy of it?

### On the circular schedule
We do need to iterate over the schedule for one cycle to find the feasible connections to neighbours. It is better to think of the schedule as a circular array, representing the periodicity of transport facilities. The way to process the connection array woul

[2018-02-07 08:55] SuhasHebbar commented on #53
The implementation of a list in elixir can be visualised as a linked list of pointers. Removing the head of a list is equivalent to pointing the list identifier (which is a reference to the list object) to the next element (or the head of the tail), hence we have guaranteed O(1) peformance. We do not construct the whole schedule list from scratch.

[2018-02-07 09:00] SuhasHebbar commented on #53
I do not see the need to maintain an index as the method used to iterate over a list is more similar to list comprehension than anything. In every pass in compute itinerary it iterates over the remaining connections until it encounters a valid connection or reaches the end of the schedule list.

The index would only make sense in an array, which it is not.

If it has reached the end it has exhaust

[2018-02-07 09:01] SuhasHebbar commented on #53
I do not see the need to maintain an index as the method used to iterate over a list is more similar to list comprehension than anything. In every pass in compute itinerary it iterates over the remaining connections until it encounters a valid connection or reaches the end of the schedule list.

The index would only make sense in an array, which it is not.

If it has reached the end it has exhaust

[2018-02-08 04:37] prasadtalasila commented on #57
@SuhasHebbar Please complete list of pending corrections as identified in the previous comment of this issue.

[2018-02-14 06:31] prasadtalasila commented on #65
@suryapratapmehra did you take a look at chapters 21 and 22 of "Programming Elixir" book? If not, please do that and update the wiki pages based on new insights from these two chapters.

[2018-02-19 21:57] suryapratapmehra commented on #65
Yes. The pages have been updated to include the new insights from these two chapters.

[2018-02-23 12:30] prasadtalasila opened #79 "Update Itinerary module with circular queue implementation"
We will use a list and iteration on the list to emulate a circular queue implementation.

[2018-02-23 13:55] prasadtalasila commented on #72
Completed via 8781b48 commit on [benchmarks](https://github.com/prasadtalasila/TransportScheduler/tree/benchmarks) branch.

[2018-02-23 13:55] #72 closed

[2018-02-23 14:00] prasadtalasila commented on #53
Work completed via PR #78.

[2018-02-23 14:00] #53 closed

[2018-02-23 14:00] prasadtalasila commented on #58
Worked completed in PR #78.

[2018-02-23 14:00] #58 closed

[2018-02-23 14:02] prasadtalasila opened #81 "Rename StationStruct to FsmStruct"
The existing structure used by StationFsm is named as StationStruct. It is more appropriate to name this struct as FsmStruct.

[2018-02-23 14:05] prasadtalasila commented on #65
The pages moved to [Behaviours, Protocols, Modules and Structs](https://github.com/prasadtalasila/TransportScheduler/wiki/Behaviours,-Protocols,-Modules-and-Structs).

[2018-02-23 14:05] #65 closed

[2018-02-24 02:36] prasadtalasila commented on #81
Even though the suggested change is apt in the context of the program, we are moving away from domain level description of the problem to the implementation level. Hence, I suggest keeping the name StationStruct.

Hence the issue is being closed.

[2018-02-24 02:36] #81 closed

[2018-02-24 13:20] prasadtalasila commented on #31
@SuhasHebbar
Please check [selective receives](http://learnyousomeerlang.com/more-on-multiprocessing#selective-receives) and example. The coding idiom seems to satisfy our requirement of first selecting all the pending messages belonging to one query and then selecting one message with least cost.

[2018-02-26 07:13] prasadtalasila commented on #75
The [test patterns](https://github.com/prasadtalasila/TransportScheduler/wiki/Testing-Patterns) webpage has been updated.

[2018-02-26 07:13] #75 closed

[2018-02-26 07:25] prasadtalasila opened #82 "Update Processes wiki page"
@bgargi Please update the [CS Processes](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Processes) with the following advice.
* GenServer with coding idiom and limitations of selective receive.
* Task and Agent with coding idiom.

You can summarize the information available on [Programming Elixir](https://github.com/prasadtalasila/TransportScheduler/wiki/Programming-Elixir) page.

[2018-02-26 07:27] prasadtalasila opened #83 "Update Distributed Application wiki page"
Update the [Distributed Application](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Distributed-Application) wiki page.

[2018-02-26 10:53] SuhasHebbar commented on #31
I think the Selective receives will not help us to know if a query is stale or not before we start processing it as we need to query the Registry to know the query's status. (Selective receives only work with pattern matching)

[2018-02-26 10:58] prasadtalasila commented on #31
@SuhasHebbar
This we can talk about when we implement a queue management for a station. For now, our prevailing idea is that GenServer is not the right place to do it. We may need an input processor which filters, aggregates and then hands over the queries to the station process.

@bgargi is going to summarize our lessons about selective reception on GenServer page. We will pursue selective recept

[2018-02-26 10:58] #31 closed

[2018-02-27 13:24] prasadtalasila opened #84 "Overhead of sending an itinerary"
We shall use new query and itinerary structures to find the messaging over between Elixir processes.

[2018-02-27 14:42] prasadtalasila commented on #67
@suryapratapmehra work for this week (27-Feb-2018):
* [Behaviors, Protocols, Modules and Structs](https://github.com/prasadtalasila/TransportScheduler/wiki/Behaviours,-Protocols,-Modules-and-Structs) page.
* Check for consistency in function notation on all [Coding Style](https://github.com/prasadtalasila/TransportScheduler/wiki/Coding-Style) pages.
* [Logger](https://github.com/prasadtalasila/Tra

[2018-02-27 14:44] prasadtalasila opened #85 "Port inputparser module to alpha branch"
The [input parser](https://github.com/prasadtalasila/TransportScheduler/blob/master/lib/ts/input_parser.ex) module of master branch needs to be copied and altered to work with code on alpha branch.

[2018-02-27 14:46] prasadtalasila opened #86 "Add logger to Station package"
Add the logger to application and to the [station package](https://github.com/prasadtalasila/TransportScheduler/tree/ts-v1.0-alpha/lib/ts/station) of alpha branch.

[2018-02-27 14:58] prasadtalasila opened #87 "Scripts for server mode"
Write shell script(s) and modify the configuration of TransportScheduler application to launch the application and run it in the background (daemon / server) mode.

[2018-02-28 11:12] prasadtalasila commented on #57
The [proposed architecture](https://github.com/prasadtalasila/TransportScheduler/wiki/TS-v1.0-Proposed-Architecture) page has been updated.

[2018-02-28 11:12] #57 closed

[2018-02-28 11:25] prasadtalasila commented on #84
The demonstrative coding snippets to be committed to **benchmarks** branch.

[2018-02-28 12:03] prasadtalasila opened #88 "Update station wiki page"
[station](https://github.com/prasadtalasila/TransportScheduler/wiki/TS-v1.0-Station) wiki page

[2018-02-28 12:05] prasadtalasila opened #89 "Update stationFSM wiki page"
[StationFSM](https://github.com/prasadtalasila/TransportScheduler/wiki/Station-FSM) wiki page.

[2018-02-28 12:14] prasadtalasila opened #90 "Integration test for station network"
We complete the following work to be ready for integration tests.
* Itinerary
* Network Constructor (a simple supervisor)
* Fake registry, query collector, input parser

Use the above modules to perform integration tests on the station network.

[2018-03-01 09:26] prasadtalasila commented on #82
[processes](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Processes) wiki page created.

[2018-03-01 09:26] #82 closed

[2018-03-01 09:27] prasadtalasila commented on #83
Work completed.

[2018-03-01 09:27] #83 closed

[2018-03-01 21:12] SuhasHebbar commented on #84
I have sent a PR for benchmarking the message passing of the itinerary between processes.
The benchmarks in #91  measure the number of messages processed by a GenServer within 30s without performing any computation on the received message.
The cases include in the benchmarks are for itineraries of length ranging from 0 to 64 and for 1 - 10,000 concurrent message senders.

[2018-03-01 21:15] SuhasHebbar commented on #88
I have updated the Station wiki page.
Presently in the Station Dependency diagram no difference has been made between a behavioural or indirect dependency via another module (Station.Fsm) from a normal dependency.

[2018-03-02 02:08] prasadtalasila commented on #84
merged.

[2018-03-02 02:08] #84 closed

[2018-03-02 02:12] prasadtalasila commented on #88
Wiki page updated.

[2018-03-02 02:12] #88 closed

[2018-03-15 13:12] prasadtalasila opened #93 "Add logger to itinerary module"

[2018-03-15 13:13] #67 closed

[2018-03-18 16:51] SuhasHebbar commented on #89
The requested changes have been made on the Station FSM page.

[2018-03-18 18:27] #89 closed

[2018-03-20 14:23] prasadtalasila opened #97 "Update Build with Mix wiki page"
Update [Build with Mix](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Build-with-Mix) wiki page

[2018-03-27 06:17] prasadtalasila opened #98 "Application structure for alpha branch"
Use the knowledge of the [Build with Mix](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Build-with-Mix) page to create skeleton application structure for the [alpha branch](https://github.com/prasadtalasila/TransportScheduler/tree/ts-v1.0-alpha).

[2018-03-27 06:18] prasadtalasila opened #99 "Upload application structure example to benchmarks branch"
The multiplier example created in [Build with Mix](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Build-with-Mix) page should be saved in [benchmarks](https://github.com/prasadtalasila/TransportScheduler/tree/benchmarks) branch.

[2018-03-28 05:50] prasadtalasila opened #100 "Log statements for station package"
The station package has two interesting modules: station and FSM. We need to add log statements for both these modules.

[2018-03-28 05:54] prasadtalasila commented on #79
PR #92 solves this issue.

[2018-03-28 05:54] #79 closed

[2018-03-28 06:04] prasadtalasila opened #101 "Implement registry module"
Implement [registry](https://github.com/prasadtalasila/TransportScheduler/blob/ts-v1.0-alpha/lib/ts/station/registry.ex) module using Erlang's PG2 module.

#### References
1. [pg2](http://erlang.org/doc/man/pg2.html) - distributed process groups in Erlang.
1. Prefer PG2 over global, see [tutorial](https://medium.com/@StevenLeiva1/elixir-process-registries-a27f813d94e3), [slides](https://speakerdec

[2018-03-28 13:13] prasadtalasila commented on #93
PR #96 implements the requirements.

[2018-03-28 13:13] #93 closed

[2018-03-28 19:22] prasadtalasila commented on #97
Work is complete.

[2018-03-28 19:22] #97 closed

[2018-03-28 19:23] prasadtalasila commented on #99
@bgargi you can start working on this issue

[2018-03-29 06:54] prasadtalasila commented on #99
PR #102 solves the issue.

[2018-03-29 06:54] #99 closed

[2018-03-29 07:01] prasadtalasila commented on #86
We created a duplicate issue #100 to track this work. Closing this issue.

[2018-03-29 07:01] #86 closed

[2018-04-03 06:06] prasadtalasila commented on #101
PR #105 solves the issue.

[2018-04-03 06:06] #101 closed

[2018-04-03 06:08] prasadtalasila opened #110 "Port query collector module"
Port the query collector module from master branch to alpha branch. The query collector is a worker process which collects itineraries and hands them over to API.

[2018-04-03 06:24] prasadtalasila opened #111 "Separate unit and integration tests"
We need to separate unit and integration tests preferably into two separate sub-directories of test/. If needed, we can use ExUnit tags.

[2018-04-03 06:32] prasadtalasila opened #112 "Unit tests for station FSM module"

[2018-04-08 18:26] prasadtalasila commented on #100
PR #109 solves the issue.

[2018-04-08 18:26] #100 closed

[2018-04-09 07:11] prasadtalasila opened #116 "Update Registry wiki page"
We have integrated the Registry module using Erlang's `pg2`. Documentation of our coding conventions and some explanation of `pg2` is required. Please update the [Registry](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Registry) wiki page.

[2018-04-10 06:11] prasadtalasila opened #117 "Change naming conventions for variables used in logger statements"
All the variables that get used exclusively by the logger statements get `l_` prefix.

[2018-04-10 06:44] prasadtalasila opened #118 "Apply top-down rule for layout of functions"
The top-down rule must be applied to layout the functions of an Elixir module. The order of specification is: public functions, handle call and cast followed by private functions.

[2018-04-10 07:12] prasadtalasila opened #119 "socket handover in Maru"
The UQC needs to handover the client socket to QC.

[2018-04-12 08:06] prasadtalasila commented on #110
PR #115 completes the work.

[2018-04-12 08:06] #110 closed, assigned to SuhasHebbar

[2018-04-17 06:31] prasadtalasila opened #122 "Adding distributed application to alpha branch."
The alpha branch has umbrella app structure.  Add distributed application to alpha branch.

[2018-04-17 06:33] prasadtalasila opened #123 "Update and split Build with Mix wiki page"
We need a section on Umbrella application structure on [Build with Mix](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Build-with-Mix) page. Also it might be worth splitting this page into multiple smaller pages.

[2018-04-17 11:41] prasadtalasila commented on #116
work is complete.

[2018-04-17 11:41] #116 closed, assigned to SuhasHebbar

[2018-04-24 06:37] prasadtalasila commented on #98
PR #124 solves the issue.

[2018-04-24 06:37] #98 closed

[2018-04-24 06:38] prasadtalasila commented on #117
PR #125 solves the issue.

[2018-04-24 06:38] #117 closed, assigned to suryapratapmehra

[2018-04-26 09:15] prasadtalasila commented on #111
PR #126 solves the issue.

[2018-04-26 09:15] #111 closed, assigned to suryapratapmehra

[2018-09-14 09:15] #123 closed, assigned to bgargi

[2018-09-14 09:16] prasadtalasila commented on #122
Kept in hold for now. We will look at it after the stand alone application is functional.

[2018-09-14 09:16] #122 closed, assigned to bgargi

[2018-09-14 09:20] prasadtalasila commented on #118
Advice moved to [wiki](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Modules) page.

[2018-09-14 09:20] #118 closed, assigned to nobody

[2018-09-30 09:15] prasadtalasila opened #128 "Create network constructor"
Network constructor in network application. The network constructor has the following responsibilities.
* Co-ordinate with input parser to receive input data
* In supervisory mode, create and maintain station processes.

Ref: https://github.com/prasadtalasila/TransportScheduler/blob/master/lib/ts/network_constructor.ex

[2018-10-19 06:04] bgargi opened #130 "Clarify intent of dependency struct"
Clarify whether the struct elements are just references to global names with "static" methods, or each dependency carries with it some local information unique to that instance

[2018-11-08 09:34] bgargi commented on #130
Please refer to [Coding Style- Structs](https://github.com/prasadtalasila/TransportScheduler/wiki/CS-Structs) .

[2018-11-08 09:42] #130 closed, assigned to nobody

[2018-12-19 04:33] prasadtalasila opened #133 "QC stop condition"
The [QC](https://github.com/prasadtalasila/TransportScheduler/blob/9fa2449b7aed3ccfce54661c5eb99a5cc7098fc9/apps/network/lib/network/station/query_collector.ex#L125) stops only when there is a timeout. We also need to stop after collecting a certain number of search results, say 10.

[2018-12-20 12:45] prasadtalasila commented on #133
The handle_cast functions in lines - 83 and 86 of QC already take care of the requirement. The number of queries is mentioned in `:max_itineraries` atom via `opts` of the query.

No further work is needed on this issue.

[2018-12-20 12:45] #133 closed, assigned to nobody